*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
main{
    width: 900px;
    height: 550px;
    background-color:white;
    margin-top: 50px;
}

section{
    margin-left: 39%;    
}
section + p{
    margin-right: 9px;
}
.notation1{ 
    width: auto;
    margin-left: 30%;
    padding-top: 10px;
    color:hsl(229, 6%, 66%);
}
.notation2{
    width: auto;
    margin-left: 35%;
    padding-top: 10px;
    color:hsl(229, 6%, 66%);
 
}
section.span1{
    color: rgb(99, 96, 96);
    margin-bottom: 7px;
}
section .span2{
    color:hsl(234, 12%, 34%);
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 45px;
    
}
.cyan{
    width: 250px;
    height: 150px;
    border-top: solid 3px hsl(180, 62%, 55%);
    box-shadow: 0 3px 3px darkslategray;
}
.red{
    width: 250px;
    height: 150px;
    border-top: solid 3px  hsl(0, 78%, 62%);
    box-shadow: 0 3px 3px darkslategray;
    margin-top: -50px;
}
.orange{
    width: 250px;
    height: 150px;
    border-top: solid 3px hsl(34, 97%, 64%)  ;
    box-shadow: 0 3px 3px  darkslategray;
    margin-top: 25px;
  
}
.blue{
    width: 250px;
    height: 150px;
    border-top: solid 3px hsl(212, 86%, 64%)  ;
    box-shadow: 0  3px 3px  darkslategray;
}
.container2{
    margin: 25px;
}
.cyan {
    color: rgb(88, 88, 84);
}
.cyan h3{
    padding: 10px;
}
.cyan p {
    margin-left: 10px;
}
.cyan img{
    width: 50px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70%;
}
.red{
    color: rgb(88, 88, 84);
}
.red h3{
    padding: 10px;
}
.red p {
    margin-left: 10px;
}
.red img{
    width: 50px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70%;
}
.orange{
    color: rgb(88, 88, 84);
}
.orange h3{
    padding: 10px;
}
.orange p {
    margin-left: 10px;
}
.orange img{
    width: 50px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70%;
}
.blue {
    color: rgb(88, 88, 84);
}
.blue h3{
    padding: 10px;
}
.blue p {
    margin-left: 10px;
}
.blue img {
    width: 50px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70%;
}
